@import "styles";
@import "mixins";

.HomeClientsSection {
  position: relative;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: $mobSectionPadding 0;
  }

  .Title {
    text-align: center;
  }

  .ClientsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    @media screen and (min-width: $largerThanMobile) {
      gap: 0.75rem;
    }
  }

  .Client {
    padding: 0.25rem 1rem;
    background-color: $secondary;
    color: $tertiary;
    border: 2px solid $tertiary;
    border-radius: 1.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    &:hover {
      background-color: $tertiary;
      color: $secondary;
    }
    @media screen and (min-width: $largerThanMobile) {
      font-size: 1rem;
    }
  }

  .SectionHeaderCategoryFadeIn,
  .SectionHeaderTitleFadeIn,
  .SectionHeaderSubtitleFadeIn,
  .Category,
  .Title,
  .ClientsWrapper {
    opacity: 0;
  }

  &.InView {
    .SectionHeaderCategoryFadeIn {
      animation: fadeIn 0.4s ease-out forwards;
    }

    .SectionHeaderTitleFadeIn {
      animation: fadeIn 0.4s ease-out forwards;
      animation-delay: 0.4s;
    }

    .Title {
      animation: fadeIn 0.4s ease-out forwards;
    }

    .ClientsWrapper {
      animation: fadeIn 0.4s ease-out forwards;
      animation-delay: 0.4s;
    }
  }
}