@import "styles";
@import "mixins";

.FooterContentWrapper {
  position: relative;
}

.Footer {
  background-color: $tertiary;
  color: $secondary;

  .Content {
    text-align: center;
    padding: 2rem 0;
    max-width: 100%;
    @media screen and (min-width: $largerThanMobile) {
      max-width: 700px;
    }
    > * {
      margin-bottom: 1rem;
    }
    .FooterHeading,
    .FooterText,
    .Email,
    .FooterAddress,
    .SocialLinksWrapper {
      opacity: 0;
    }
    &.InView {
      .FooterHeading {
        animation: fadeInDown 0.4s ease-out forwards;
        animation-delay: 0s;
      }
      .FooterText {
        animation: fadeIn 0.4s ease-out forwards;
        animation-delay: 0.3s;
      }
      .Email {
        animation: fadeIn 0.4s ease-out forwards;
        animation-delay: 0.6s;
      }
      .FooterAddress {
        animation: fadeInUp 0.4s ease-out forwards;
        animation-delay: 0.9s;
      }
      .SocialLinksWrapper {
        animation: fadeInUp 0.4s ease-out forwards;
        animation-delay: 1.3s;
      }
    }
  }
  .Divider {
    width: 100%;
    height: 1px;
    background-color: $secondary;
    opacity: 0.2;
  }
  .FooterHeading {
    font-size: 2rem;
    font-weight: 700;
    @media screen and (min-width: $largerThanMobile) {
      font-size: 2.75rem;
    }
  }
  .CompanyLegalName, .Email {
    color: $brandPrimary;
  }
}

.Info {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-size: 0.8rem;
}

.SocialLinksWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.SocialLink {
  width: 2rem;
  height: 2rem;
}

.InfoContent {
  width: 100%;
  a {
    display: inline-block;
  }
}