@import "styles";
@import "mixins";

.HomeTechStackSection {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $mobSectionPadding 0;
  }

  .CategoriesContent {
    width: 100%;
    .TechStackCategoriesWrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      @media screen and (min-width: $largerThanSmall) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  .Category {
    background-color: $secondary;
    border: 2px solid $tertiary;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 100%;
    min-width: 0;
    @media screen and (min-width: $largerThanSmall) {
      flex: 1 1 calc(50% - 0.5rem); // two per row with 1rem gap
      max-width: calc(50% - 0.5rem); // keep last item same width when odd count
    }
    .Title {
      background-color: $tertiary;
      color: $secondary;
      font-size: 1rem;
      font-weight: 500;
      padding: 1rem 0.5rem;
      display: flex;
      align-items: center;
      flex: 2 1 0%;
      min-width: 0;
      @media screen and (min-width: $largerThanMobile) {
        font-size: 1.25rem;
        padding: 2rem 1rem;
      }
      @media screen and (min-width: $largerThanMedium) {
        flex: 1 1 0%;
      }
    }
    .CategoryItemsWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      flex: 5 1 0%;
      min-width: 0;
      padding: 0.5rem;
      gap: 0.25rem;
      @media screen and (min-width: $largerThanMobile) {
        padding: 1rem;
      }
      @media screen and (min-width: $largerThanMedium) {
        flex: 4 1 0%;
      }
    }
    .CategoryItem {
      padding: 0.25rem 1rem;
      background-color: $brandSecondary;
      color: $secondary;
      border: 2px solid $tertiary;
      border-radius: 1.5rem;
      font-size: 0.75rem;
      @media screen and (min-width: $largerThanMobile) {
        font-size: 1rem;
      }
    }
  }

  .SectionHeaderCategoryFadeIn,
  .SectionHeaderTitleFadeIn,
  .SectionHeaderSubtitleFadeIn,
  .Category {
    opacity: 0;
  }

  &.InView {
    .SectionHeaderCategoryFadeIn {
      animation: fadeIn 0.4s ease-out forwards;
    }

    .SectionHeaderTitleFadeIn {
      animation: fadeIn 0.4s ease-out forwards;
      animation-delay: 0.4s;
    }

    .SectionHeaderSubtitleFadeIn {
      animation: fadeIn 0.4s ease-out forwards;
      animation-delay: 0.8s;
    }

    .Category {
      animation: fadeInRight 0.4s ease-out forwards;
      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: #{1.2 + ($i - 1) * 0.4}s;
        }
      }
    }
  }
}