@import "styles";

.HomeKPISection {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $largerThanMobile) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $largerThanMedium) {
    flex-wrap: nowrap;
  }

  .KpiItem {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $tertiary;
    border: 1px solid $brandPrimary;
    padding: 5rem 0;
    color: $secondary;

    @media screen and (min-width: $largerThanMobile) {
      flex: 1 1 50%;
    }

    @media screen and (min-width: $largerThanMedium) {
      flex: 1;
    }
  }

  .KpiItemValue {
    font-size: 4rem;
    font-weight: 600;
    color: $brandSecondary !important;
  }

  .KpiItemText {
    font-size: 1.5rem;
    color: $secondary;
  }

}