@import "styles";

.SectionHeader {
  margin-bottom: 2rem;
  .Title {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .Subtitle {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .Primary {
    color: $primary;
  }
  .Secondary {
    color: $secondary;
  }
}

.Category {
  font-size: 1rem;
  color: $brandPrimary;
  text-transform: uppercase;
}