@import "styles";
@import "mixins";

.HeroSectionWrapper {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
}

.HeroBackgroundWrap {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  &.HeroImageLoaded {
    animation-name: fadeIn;
  }
}

.HomeHeroSection {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .Content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .HeroLogoAndEst {
    opacity: 0;
    animation: fadeIn 0.4s ease-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .HeroLogo {
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    @media screen and (min-width: $largerThanMobile) {
      width: 200px;
      display: block
    }
  }
  .HeroEstText {
    margin-bottom: 1.5rem;
    display: none;
    &.MediaMobile {
      display: block;
      @media screen and (min-width: $largerThanMobile) {
        display: none;
      }
    }
    &.MediaLarge {
      @media screen and (min-width: $largerThanMobile) {
        display: block;
      }
    }
  }
  .EstTextPrimary {
    color: $brandPrimary;
    @include text-shadow;
  }
  .EstTextSecondary {
    color: $secondary;
    @include text-shadow;
  }
  .HeroLogoLink {
    display: block;
    line-height: 0;
  }
  h2, h3 {
    color: $secondary;
    @include text-shadow;
    text-align: center;
  }
  .TitleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $largerThanMobile) {
      align-items: center;
    }
    .LeftTitle {
      color: $secondary;
    }
    .RightTitle {
      color: $brandPrimary;
      @media screen and (min-width: $largerThanMobile) {
        margin-left: 1rem;
      }
    }
  }
  .Title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    animation: fadeInDown 0.4s ease-out forwards;
    animation-delay: 0.4s;
    @media screen and (min-width: $largerThanMobile) {
      margin-bottom: 30px;
      font-size: 5rem;
    }
    @media screen and (min-width: $largerThanSmall) {
      font-size: 6rem;
    }
    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      justify-content: center;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.02em;
      @media screen and (min-width: $largerThanMobile) {
        flex-direction: row;
      }
    }
  }
  .Subtitle {
    font-size: 1rem;
    opacity: 0;
    animation: fadeInDown 0.4s ease-out forwards;
    animation-delay: 0.8s;
    @media screen and (min-width: $largerThanMobile) {
      font-size: 1.25rem;
    }
    @media screen and (min-width: $largerThanSmall) {
      font-size: 1.5rem;
    }
  }
  .ButtonLinkWrapper {
    margin-top: 30px;
    opacity: 0;
    animation: fadeInUp 0.4s ease-out forwards;
    animation-delay: 1.2s;
  }
}