@import "styles";
@import "mixins";

.HomeWhatWeDoSectionWrapper {
  background-color: $tertiary;
}

.HomeWhatWeDoSection {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $mobSectionPadding 0;
  }

  .ServiceItemsContent {
    .WhatWeDoSectionItemsWrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media screen and (min-width: $largerThanMedium) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  .ServiceItem {
    background-color: $secondary;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    min-width: 0;
    @media screen and (min-width: $largerThanMedium) {
      padding: 2rem;
      flex: 1 1 calc(50% - 0.5rem); // two per row with 1rem gap
      max-width: calc(50% - 0.5rem); // keep last item same width when odd count
    }
    .Title {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 1rem 0;
    }
  }

  .SectionHeaderCategoryFadeIn,
  .SectionHeaderTitleFadeIn,
  .SectionHeaderSubtitleFadeIn,
  .ServiceItem {
    opacity: 0;
  }

  &.InView {
    .SectionHeaderCategoryFadeIn {
      animation: fadeIn 0.4s ease-out forwards;
    }

    .SectionHeaderTitleFadeIn {
      animation: fadeIn 0.4s ease-out forwards;
      animation-delay: 0.4s;
    }

    .SectionHeaderSubtitleFadeIn {
      animation: fadeIn 0.4s ease-out forwards;
      animation-delay: 0.8s;
    }

    .ServiceItem {
      animation: fadeInDown 0.4s ease-out forwards;
      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: #{1.2 + ($i - 1) * 0.4}s;
        }
      }
    }
  }
}