@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}